$c-item:  #05a4e5;
$c-boton: #01abe6;
$c-tercer: white;
$c-bordes: #f2f2f2;
$color-titulo: #949494;
$color-cuarto: #01abe6;
$color-segundo: #18c9b9;
$color-tercero: #d683db;
$color-fondo: #d683db;
$b-1: #0192cb;
$b-2: #ff7690;
$b-3: #17c9bd;
$c-fondo: #f9f9f9;